{% include 'header.html' with user=user username=username title='Group' %}

<div class="container">
    {% if group %}
  <h2><small>Group Name: Carnivorous</small> </h2>
  <table class="table">
    <thead>
      <tr>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Username</th>

      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Yunus</td>
        <td>Yılmaz</td>
        <td><a href="/profile/y" > ynsy </td>
        </tr>
      <tr>
        <td>Hakan</td>
        <td>Uyumaz</td>
        <td><a href="/profile/y" > huyumaz </td>

      </tr>
      <tr>
        <td>Ömer</td>
        <td>Aslan</td>
        <td><a href="/profile/y" > oeaslan </td>
      </tr>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>

    {% endif %}
</div>

{% include 'footer.html' %}