<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8"/>
    <title>Lets Eat {{ title }}</title>
    {% load staticfiles %}
    <!-- CSS Files -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/material.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-datetimepicker.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/theme.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-social.css' %}">
    <style>

        body {
            padding-top:80px;
        }
        .bootstrap-tagsinput {
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  display: inline-block;
  padding: 4px 6px;
  margin-bottom: 10px;
  color: #555;
  vertical-align: middle;
  border-radius: 4px;
  line-height: 22px;
  cursor: text;
}
.bootstrap-tagsinput input {
  border: none;
  box-shadow: none;
  outline: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  width: auto !important;
  max-width: inherit;
}
.bootstrap-tagsinput input:focus {
  border: none;
  box-shadow: none;
}
.bootstrap-tagsinput .tag {
  margin-right: 2px;
  color: white;
}
.bootstrap-tagsinput .tag [data-role="remove"] {
  margin-left: 8px;
  cursor: pointer;
}
.bootstrap-tagsinput .tag [data-role="remove"]:after {
  content: "x";
  padding: 0px 2px;
}
.bootstrap-tagsinput .tag [data-role="remove"]:hover {
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.bootstrap-tagsinput .tag [data-role="remove"]:hover:active {
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
span.twitter-typeahead .tt-dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  font-size: 14px;
  text-align: left;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;
}
span.twitter-typeahead .tt-suggestion > p {
  display: block;
  padding: 3px 20px;
  margin-bottom: 0px;
  clear: both;
  font-weight: normal;
  line-height: 1.42857143;
  color: #333333;
  white-space: nowrap;
}
span.twitter-typeahead .tt-suggestion > p:hover,
span.twitter-typeahead .tt-suggestion > p:focus {
  color: #ffffff;
  text-decoration: none;
  outline: 0;
  background-color: #428bca;
}
span.twitter-typeahead .tt-suggestion.tt-cursor {
  color: #ffffff;
  background-color: #428bca;
}


    </style>

</head>
<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
<script type="text/javascript">stLight.options({publisher: "46c8e71b-42a9-463b-b7ed-6dac3037e3ab", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>
<body>

<header class="navbar navbar-default navbar-fixed-top bs-docs-nav" id="top" role="banner">
    <div class="container">
        <div class="navbar-header">
            <button class="navbar-toggle collapsed" type="button" data-toggle="collapse"
                    data-target=".bs-navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="{% url 'home_view' %}" class="navbar-brand"> <i class="fa fa-spoon"></i> LetsEat</a>

            <form class="navbar-form navbar-right" role="search" action="{% url 'search_user' %}" method="POST">
                <div class="form-group" id="multiple-datasets">
                    <input class="form-control" name="username" type="text" placeholder="Search LetsEat">
                </div>

                <button type="submit" class="btn btn-default"><i class="fa fa-search"></i> Search</button>

            </form>


        </div>

        <nav class="collapse navbar-collapse bs-navbar-collapse">

            <ul class="nav navbar-nav navbar-right">
                {% if user %}
                    <li class="dropdown">
                        <a href="{% url 'notifications' %}" class="dropdown-toggle" data-toggle="dropdown"><i
                                class="fa fa-bell"></i> Notifications <label class="label label-danger">2</label></a>
                        <ul class="dropdown-menu scrollable-menu" style="min-width:550px;">
                            <div class="col-md-12">
                                <h5><i class="fa fa-user-plus"></i> Friend Requests</h5>
                                {% if friend_request %}

                                    {% for req in friend_request %}

                                        <li>
                                    <div class="media">
                                        <div class="media-left">
                                            <a href="#">
                                                <img class="media-object"
                                                     src="https://cdn2.iconfinder.com/data/icons/lil-faces/249/lil-face-15-512.png"
                                                     alt="..." width="32" height="32">
                                            </a>
                                        </div>
                                        <div class="media-body" style="padding-bottom: 10px;padding-right: 10px;">
                                            <small>{{ req.name }} {{ req.surname }}</small>
                                            <a class="btn btn-default pull-right reject-friend" data-sender="{{ req.username }}" data-receiver="{{ username }}" style="margin-left: 10px;">Delete
                                                Request</a>
                                            <a class="btn btn-primary pull-right accept-friend" data-sender="{{ req.username }}" data-receiver="{{ username }}">Accept</a>
                                        </div>


                                    </div>
                                </li>

                                    {% endfor %}
                    {% else %}
                        <li><h6>Nothing to show.</h6></li>
                     {% endif %}
                                <h5><i class="fa fa-user-plus"></i> Event Requests</h5>
                                <li><h6>Nothing to show.</h6></li>

                            </div>
                        </ul>
                    </li>
                <!--<div class="modal fade" id="myMessageModal">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></button>
                            <h4 class="modal-title">Messages</h4>
                            <button type="button" class="btn btn-primary"><i class="fa fa-envelope"></i> New Message</button>

                        </div>
                             <div class="modal-body">
                                <div class="panel panel-default ">
                                    <div class="panel-heading">
                                        <b> Yunus Yılmaz </b>
                                        <small>@ynsy</small>
                                        <div class="media-left">
                                            <a href="#">
                                        <img class="media-object" src="https://cdn2.iconfinder.com/data/icons/lil-faces/243/lil-face-5-512.png" width="64" height="64">
                                    </a>
                                        </div>
                                        <div class="media-body">
                                            <div class="panel panel-default">
                                                <div class="panel-body">
                                                Yemek bir harikaydı dostum.. :)
                                                </div>
                                                <div class="pull-right">
                                                    <small><i class="fa fa-trash-o"></i></small>
                                                        <a> Delete </a>
                                                    <small><i class="fa fa-reply"></i></small>
                                                        <a> Reply</a>
                                                </div>
                                        </div>
                                            </div>
                                         </div>
                                    </div>
                                 <div class="panel panel-default ">
                                    <div class="panel-heading">
                                        <b> Ömer Aslan </b>
                                        <small>@oeaslan </small>
                                        <div class="media-left">
                                            <a href="#">
                                        <img class="media-object" src="https://cdn0.iconfinder.com/data/icons/iconshock_guys/512/andrew.png" width="64" height="64">
                                    </a>
                                        </div>
                                    <div class="media-body">
                                        <div class="panel panel-default">
                                            <div class="panel-body">
                                                LetsEat bir harika dostum.. :)
                                            </div>
                                            <div class="pull-right">
                                                    <small><i class="fa fa-trash-o"></i></small>
                                                        <a> Delete </a>
                                                    <small><i class="fa fa-reply"></i></small>
                                                        <a> Reply</a>
                                                </div>
                                            </div>
                                    </div>
                                </div>
                                </div>
                                 <div class="panel panel-default ">
                                    <div class="panel-heading">
                                        <b> Burak Atalay </b>
                                        <small>@buatalay</small>
                                        <div class="media-left">
                                            <a href="#">
                                        <img class="media-object" src="https://cdn2.iconfinder.com/data/icons/lil-faces/249/lil-face-15-512.png" width="64" height="64">
                                    </a>
                                        </div>
                                    <div class="media-body">
                                        <div class="panel panel-default">
                                            <div class="panel-body">
                                                Bunu tekrarlayalım..
                                            </div>
                                                <div class="pull-right">
                                                    <small><i class="fa fa-trash-o"></i></small>
                                                        <a> Delete </a>
                                                    <small><i class="fa fa-reply"></i></small>
                                                        <a> Reply</a>
                                                </div>
                                            </div>
                                    </div>
                                </div>
                                </div>
                                 <div class="panel panel-default ">
                                    <div class="panel-heading">
                                        <b> Bahadır Kırdan </b>
                                        <small>@bahadirk</small>
                                        <div class="media-left">
                                            <a href="#">
                                        <img class="media-object" src="http://shawncreed.com/wp-content/uploads/2013/08/cropped-shawn_avatar_icon1.png" width="64" height="64">
                                    </a>
                                        </div>
                                    <div class="media-body">
                                        <div class="panel panel-default">
                                            <div class="panel-body">
                                                Yemek bir harikaydı dostum.. :)
                                            </div>
                                                <div class="pull-right">
                                                    <small><i class="fa fa-trash-o"></i></small>
                                                        <a> Delete </a>
                                                    <small><i class="fa fa-reply"></i></small>
                                                        <a> Reply</a>
                                                </div>
                                            </div>
                                    </div>
                                </div>
                                </div>

                                 <div class="panel panel-default ">
                                    <div class="panel-heading">
                                        <b> Vidal Hara </b>
                                        <small>@vhara</small>
                                        <div class="media-left">
                                            <a href="#">
                                        <img class="media-object" src="https://cdn2.iconfinder.com/data/icons/lil-faces/249/lil-face-15-512.png" width="64" height="64">
                                    </a>
                                        </div>
                                    <div class="media-body">
                                        <div class="panel panel-default">
                                            <div class="panel-body">
                                                Süperdi..
                                            </div>
                                                <div class="pull-right">
                                                    <small><i class="fa fa-trash-o"></i></small>
                                                        <a> Delete </a>
                                                    <small><i class="fa fa-reply"></i></small>
                                                        <a> Reply</a>
                                                </div>
                                            </div>
                                    </div>
                                </div>
                                </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>

                </div>

            </div> -->
                {% endif %}
                <li class="dropdown">
                    {% if user %}
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">@{{ username }}<b class="caret"></b></a>
                        <ul class="dropdown-menu" style="min-width:250px;">
                            <li><a href="{% url 'edit' username %}"><i class="fa fa-pencil-square-o"></i> Edit
                                Profile</a></li>
                            <li><a href="{% url 'logout' %}"><i class="fa fa-sign-out"></i> Logout</a></li>
                        </ul>
                    {% else %}
                        <!-- <a href="#" class="dropdown-toggle" data-toggle="dropdown">Login<b class="caret"></b></a>
                <ul class="dropdown-menu" style="min-width:250px;">
                    <div class="col-md-12">
                        <form id="loginForm" method="POST" action="/login/" novalidate="novalidate">
                              {% csrf_token %}
                            <label for="user_name" class="dropdown-header">Username</label>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-envelope-o fa-fw"></i></span>
                                <input type="text" class="form-control" name="username" id="user_name" />
                            </div>
                            <label for="user_pass" class="dropdown-header">Password</label>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
                                <input type="password" class="form-control" name="password" id="user_pass" />
                            </div>
                            <div class="text-right"><small><a href="#">forgot?</a></small></div>
                            <hr>

                            <div style="margin-bottom:10px;">
                                <input type="submit" class="btn btn-default" value="Login">
                                <a href="{% url 'register' %}" class="btn btn-danger">Sign Up</a>
                            </div>

                        </form>
                    </div>
                </ul>
-->
                    {% endif %}

                </li>
            </ul>


        </nav>
    </div>
</header>