{% include 'header.html' with user=user username=username title='Timeline' %}
<!--<div class="front-bg"><image src="http://lorempixel.com/1366/867/food/" /></div> -->

<div class="container">
    <div class="row">
        <div class="col-md-3">
            {% include 'profile_menu.html' with user=user friends_count=friends_count %}
        </div>

        <div class="col-md-6">


            <div class="modal fade" id="myMapModal">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <h4 class="modal-title">Create Event</h4>

                        </div>
                        <div class="modal-body">
                            <div class="panel panel-default ">
                                <div class="panel-heading">
                                    Event Name<span class="pull-right"><i
                                        class="fa fa-minus-square-o toggle-event-name"></i></span>
                                </div>
                                <div class="panel-body event-name">
                                    <input type="hidden" class="owner" name="owner" value="{{ user.username }}">
                                    <input class="form-control event_name" type="text" placeholder="Event Name" name="event_name">
                                </div>
                            </div>
                            <div class="panel panel-default ">
                                <div class="panel-heading">
                                    Event Place *<span class="pull-right"><i
                                        class="fa fa-minus-square-o toggle-event-map"></i></span>
                                    <br>
                                </div>
                                <div class="panel-body event-map">
                                    <input class="form-control restaurant" type="text" id="keyword" placeholder="Event Place" name="restaurant">

                                    <div class="footer" style="padding-top: 10px;">
                                        <div id="map_canvas"></div>
                                    </div>
                                    <div>
                                        <div class="col-md-6">
                                            Latitude
                                            <input type="text" class="form-control" name="lat" id="lat" disabled>
                                        </div>
                                        <div class="col-md-6">
                                            Longitude
                                            <input type="text" class="form-control" name="lng" id="lng" disabled>
                                        </div>
                                        </div>
                                </div>

                            </div>
                            <div class="panel panel-default ">
                                <div class="panel-heading">
                                    Event Time<span class="pull-right"><i
                                        class="fa fa-minus-square-o toggle-event-time"></i></span>
                                </div>
                                <div class="panel-body event-time">
                                    <div class="form-group">
                                        <div class='input-group date' id='datetimepicker1'>
                                            <input type='text' class="form-control start_time" name="start_time"/>
                                        <span class="input-group-addon">
                                            <span class="fa fa-clock-o"></span>
                                        </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default ">
                                <div class="panel-heading">
                                    Event Participants<span class="pull-right"><i
                                        class="fa fa-minus-square-o toggle-event-time"></i></span>
                                </div>
                                <div class="panel-body event-participants">
                                        <div class="form-group">
                                            <input type="text" data-role="tagsinput" class="participant" name="event_participant" style="width: 100% !important;" autocomplete="off">
                                        </div>
                                </div>
                                </div>

                             <div class="panel panel-default ">
                                <div class="panel-heading">
                                    Group Participants<span class="pull-right"><i
                                        class="fa fa-minus-square-o toggle-event-time"></i></span>
                                </div>
                                <div class="panel-body event-group">
                                        <div class="form-group">
                                            <input type="text" data-role="tagsinput" class="group-participant" name="event_group" style="width: 100% !important;" autocomplete="off">
                                        </div>
                                </div>
                                </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary create-event" data-dismiss="modal">Save changes</button>
                        </div>
                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>


            <!-- /.modal -->



            {% if events %}
                {% for event in events %}

                    <div class="media">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object"
                             src="http://shawncreed.com/wp-content/uploads/2013/08/cropped-shawn_avatar_icon1.png"
                             alt="..." width="64" height="64">
                    </a>
                </div>
                <div class="media-body">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            I will be eating {% if event.participants|length > 1 %} with {% endif %}
                            {% for participant in event.participants %}
                                {% if event.participants|length > 1 %}
                                    {% if participant.username != username %}
                                    <a href="{% url 'profile' participant.username %}">{{ participant.name }} {{ participant.surname }}</a>
                                    {% endif %}
                                {% else %}
                                    alone.
                                {% endif %}
                            {% endfor %}
                            <i class="fa fa-map-marker"></i> {{ event.restaurant }} <strong>—</strong> <a href="#">{{ event.name }}</a>
                        </div>
                        <div class="panel-footer">
                            <a disabled> <i class="fa fa-lock"></i>
                            Join</a> . <a> <i class="fa fa-comments-o"></i> Comment</a> .
                            <span class='st_facebook' displayText='Facebook'></span>
                            <span class='st_twitter' displayText='Tweet'></span>
                            <i class="fa fa-clock-o" data-toggle="popover"
                                   data-content="{{ event.time }}"></i> <span style="color:red">13 hours left</span>
                        </div>
                    </div>
                </div>
            </div>

                {% endfor %}

            {% endif %}


        </div>

        <div class="col-md-3">
            <!--
            <h5>Notification Center</h5>

            <div class="well">
                <div class="content">
                    <small><i class="fa fa-thumbs-up"></i> <a>Hakan</a> liked <a>your activity</a>. <span
                            style="font-weight: bold; font-size:8px;">1h ago</span></small>
                    <br>
                    <small><i class="fa fa-user-plus"></i> <a>Simge Sağın</a> added you as a friend. <span
                            style="font-weight: bold; font-size:8px;">1d ago</span></small>
                    <br>
                    <small><i class="fa fa-user-plus"></i></i> <a>Burak</a>, added <a>Simge</a> as being friend. <span
                            style="font-weight: bold; font-size:8px;">Now</span></small>
                    <br>
                    <small><i class="fa fa-user-plus"></i></i> <a>Bahadır</a>, added <a>Yunus</a> as being friend. <span
                            style="font-weight: bold; font-size:8px;">Now</span></small>
                    <br>
                    <small><i class="fa fa-thumbs-up"></i> <a>Bahadır</a> liked <a>Ömer's activity</a>. <span
                            style="font-weight: bold; font-size:8px;">1h ago</span></small>
                </div>
            </div>
            -->
            <h5>Who to Add Friend</h5>

            <div class="well">
                <div class="content">
                    <div class="media">
                        <div class="media-left">
                            <a href="#">
                                <img class="media-object"
                                     src="https://cdn0.iconfinder.com/data/icons/iconshock_guys/512/andrew.png"
                                     alt="..." width="64" height="64">
                            </a>
                        </div>
                        <div class="media-body">
                            <a href="#">Hakan Uyumaz</a>
                            <br>
                            <small>@huyumaz</small>
                            <br>

                            <a href="#" class="btn btn-primary btn-xs submit" data-sender="okveyay"
                               data-receiver="test"><i class="fa fa-user-plus"></i> Add Friend</a>
                        </div>
                    </div>
                    <div class="media">
                        <div class="media-left">
                            <a href="#">
                                <img class="media-object"
                                     src="https://cdn2.iconfinder.com/data/icons/lil-faces/249/lil-face-15-512.png"
                                     alt="..." width="64" height="64">
                            </a>
                        </div>
                        <div class="media-body">
                            <a href="#">Yunus Yılmaz</a>
                            <br>
                            <small>@ynsy</small>
                            <br>

                            <a href="#" class="btn btn-primary btn-xs"><i class="fa fa-user-plus"></i> Add Friend</a>
                        </div>


                    </div>
                    <div class="media">
                        <div class="media-left">
                            <a href="#">
                                <img class="media-object"
                                     src="http://shawncreed.com/wp-content/uploads/2013/08/cropped-shawn_avatar_icon1.png"
                                     alt="..." width="64" height="64">
                            </a>
                        </div>
                        <div class="media-body">
                            <a href="#">Ömer Aslan</a>
                            <br>
                            <small>@oeaslan</small>
                            <br>

                            <a href="#" class="btn btn-primary btn-xs"><i class="fa fa-user-plus"></i> Add Friend</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>
</div>
</div>

{% include 'footer.html' %}