{% include 'header.html' with user=None title='Login'%}
<div class="front-bg"><image src="http://lorempixel.com/1366/867/food/" /></div>
            <div class="container">


                <div class="row">

                  <div class="col-md-5 col-md-offset-1" style="opacity:0.8">
                      <div class="panel panel-default">
                            <div class="panel-heading">Welcome to Let's Eat.</div>
                            <div class="panel-body">
                              Contact your friends via Let's Eat to organize meetings. Organize eating arrangements in places that you like. Instantly know about your friends' past and future meetings.
                            </div>
                      </div>


                  </div>
                  <div class="col-md-3 col-md-offset-1" style="opacity:0.8">
                      <div class="panel">
                          <div class="panel-body">
                          <form id="loginForm" method="POST" action="/login/" novalidate="novalidate">
                              {% csrf_token %}
                              <div class="form-group">
                                  <input type="text" class="form-control" id="username" name="username" value="" required="" title="Please enter you username" placeholder="Username" autocomplete="off">
                                  <span class="help-block"></span>
                              </div>
                              <div class="form-group row">
                                  <div class="col-md-7">
                                        <input type="password" class="form-control" id="password" name="password" value="" required="" title="Please enter your password" placeholder="password" autocomplete="off">
                                  </div>
                                  <div class="col-md-5">
                                      <button type="submit" class="btn btn-primary btn-block"><i class="fa fa-sign-in"></i> Login</button>
                                  </div>
                                  <span class="help-block"></span>
                              </div>
                           	</div>
                           	<div class="panel-footer">
                           		<input type="checkbox" name="remember" id="remember"> <small style="color:#adadad">Remember</small>
                             	<a href="#" class="pull-right"><small>Forgot password ?</small></a>
                           	</div>
                              <!--<div id="loginErrorMsg" class="alert alert-error hide">Wrong username or password</div>-->

                                      
                          </form>
                              
                      </div>
                      <div class="panel panel-default">
                            <div class="panel-heading">New to LetsEat ? <strong>Register</strong></div>
                            <div class="panel-body">
                                <form id="signUpForm" method="POST" action="/register/">
                              {% csrf_token %}
                              <div class="form-group">
                                  <input type="text" class="form-control" name="name" value="" title="Please enter you name" placeholder="Name" autocomplete="off" data-validation-required-message="You must agree to the terms and conditions">
                                  <p class="help-block"></p>
                              </div>
                              <div class="form-group">
                                  <input type="text" class="form-control" name="surname" value="" required="" title="Please enter you name" placeholder="Surname" autocomplete="off">
                                  <span class="help-block"></span>
                              </div>
                              <div class="form-group">
                                  <input type="text" class="form-control" name="username" value="" required="" title="Please enter you username" placeholder="Username" autocomplete="off">
                                  <span class="help-block"></span>
                              </div>
                              <div class="form-group">
                                  <input type="email" class="form-control" name="email" value="" id="email" title="Please enter you e-mail" placeholder="Email" autocomplete="off" required
  data-validation-required-message=
    "You must agree to the terms and conditions">
                                  <span class="help-block"></span>
                              </div>
                              <div class="form-group">
                                  <input type="password" class="form-control" name="password" value="" required="" title="Please enter you password" placeholder="Password" autocomplete="off">
                                  <span class="help-block"></span>
                              </div>
                              </div>
                              <div class="panel-footer">
                                <input type="submit" class="btn btn-warning btn-block" />
                              </div>

                          </form>

                                {% if error %}
                                <div class="alert alert-danger" role="alert">{{ error_message }}</div>
                                {% endif %}
                                {% if registration %}
                                <div class="alert alert-success" role="alert">
                                    Your registration is successful.
                                </div>
                                {% endif %}
                            
                      </div>
                  </div>
              </div>
{% include 'footer.html' %}