<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8" />
    <title>Welcome to Lets Eat - Login</title>
    {%load staticfiles %}
    <!-- CSS Files -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <style>

    .front-bg {
        position: fixed;
        width: 200%;
        height: 200%;
        left: -50%;
        top:0;
        background: black;
    }

    .front-bg img {
        display: block;
        margin: auto;
        min-width: 50%;
        min-height: 50%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

        h3 {
            color: #333;
            font-size: 27pt;
        }

        .message {
            color: #333;
  font-size: 21px;
  line-height: 31px;
  text-shadow: none;
        }
    </style>
</head>

<body>
<header class="navbar navbar-default navbar-static-top bs-docs-nav" id="top" role="banner">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
        <a href="{% url 'home_view' %}" class="navbar-brand">LetsEat</a>
    </div>
    <nav class="collapse navbar-collapse bs-navbar-collapse">

      <ul class="nav navbar-nav navbar-right">
      </ul>
    </nav>
  </div>
</header>
<div class="front-bg"><image src="http://lorempixel.com/1366/867/food/" /></div>
            <div class="container">


                <div class="row">

                  <div class="col-md-5 col-md-offset-1" style="opacity:0.8">
                      <div class="panel panel-default">
                            <div class="panel-heading">Lets Eat'e hoş geldin.</div>
                            <div class="panel-body">
                                {% if error %}
                                <div class="alert alert-danger" role="alert">{{ error_message }}</div>
                                {% endif %}
                                {% if registration %}
                                <div class="alert alert-success" role="alert">
                                    Your registration is successful.
                                </div>
                                {% endif %}
                              Yemek yemek için arkadaşların ile LetsEat üzerinden iletişime geç. İlgini çeken mekanlarda, istediğin kişilerle yemek yeme daveti oluştur.Arkadaşlarının geçmiş ve gelecek etkinliklerinden anında haberdar ol.
                            </div>
                      </div>


                  </div>
                  <div class="col-md-3 col-md-offset-1" style="opacity:0.8">
                      <div class="panel">
                          <div class="panel-body">
                          <form id="loginForm" method="POST" action="/login/" novalidate="novalidate">
                              {% csrf_token %}
                              <div class="form-group">
                                  <input type="text" class="form-control" id="username" name="username" value="" required="" title="Please enter you username" placeholder="Username" autocomplete="off">
                                  <span class="help-block"></span>
                              </div>
                              <div class="form-group row">
                                  <div class="col-md-7">
                                        <input type="password" class="form-control" id="password" name="password" value="" required="" title="Please enter your password" placeholder="password" autocomplete="off">
                                  </div>
                                  <div class="col-md-5">
                                      <button type="submit" class="btn btn-primary btn-block">Login</button>
                                  </div>
                                  <span class="help-block"></span>
                              </div>
                           	</div>
                           	<div class="panel-footer">
                           		<input type="checkbox" name="remember" id="remember"> <small style="color:#adadad">Remember</small>
                             	<a href="/forgot_password" class="pull-right">Şifreni mi unuttun?</a>
                           	</div>
                              <div id="loginErrorMsg" class="alert alert-error hide">Wrong username or password</div>

                                      
                          </form>
                              
                      </div>
                      <div class="panel panel-default">
                            <div class="panel-heading">Lets Eat'de yeni misin ? <strong>Kaydol</strong></div>
                            <div class="panel-body">
                                <form id="signUpForm" method="POST" action="/register/" novalidate="novalidate">
                              {% csrf_token %}
                              <div class="form-group">
                                  <input type="text" class="form-control" name="name" value="" required="" title="Please enter you name" placeholder="Name" autocomplete="off">
                                  <span class="help-block"></span>
                              </div>
                              <div class="form-group">
                                  <input type="text" class="form-control" name="surname" value="" required="" title="Please enter you name" placeholder="Surname" autocomplete="off">
                                  <span class="help-block"></span>
                              </div>
                              <div class="form-group">
                                  <input type="text" class="form-control" name="username" value="" required="" title="Please enter you username" placeholder="Username" autocomplete="off">
                                  <span class="help-block"></span>
                              </div>
                              <div class="form-group">
                                  <input type="text" class="form-control" name="email" value="" required="" title="Please enter you e-mail" placeholder="Email" autocomplete="off">
                                  <span class="help-block"></span>
                              </div>
                              <div class="form-group">
                                  <input type="password" class="form-control" name="password" value="" required="" title="Please enter you password" placeholder="Password" autocomplete="off">
                                  <span class="help-block"></span>
                              </div>
                              </div>
                              <div class="panel-footer">
                                <button type="submit" class="btn btn-warning btn-block">Kaydol</button>
                              </div>

                          </form>
                            
                      </div>
                  </div>
              </div>
    <!-- JS Files-->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>
</html>