{% include 'header.html' with user=user title='Notifications' %}
<!--<div class="front-bg"><image src="http://lorempixel.com/1366/867/food/" /></div> -->

<div class="container">
    <div class="col-md-3">
            {% include 'profile_menu.html' with user=user friends_count=friends_count %}
        </div>

    <div class="col-md-6 ">
            <h5>Notification Center</h5>
        <div class="media-body">
            <div class="panel-body ">
            <a class="list-group-item"> <i class="fa fa-thumbs-up"></i> Hakan liked your activity. <span style="font-weight: bold; font-size:8px;">1h ago</span> </a>
            <a class="list-group-item"> <i class="fa fa-user-plus"></i> Simge Sağın added you as being friend. <span style="font-weight: bold; font-size:8px;">1d ago</span></a>
            <a class="list-group-item"> <i class="fa fa-user-plus"></i> Burak is added to Simge Sağın as being friend <span style="font-weight: bold; font-size:8px;">Now</span></a>
            <a class="list-group-item"> <i class="fa fa-thumbs-up"></i> Hakan  liked your activity. <span style="font-weight: bold; font-size:8px;">1h ago</span></a>
             <a class="list-group-item"> <i class="fa fa-user-plus"></i> Simge Sağın added to Bahadır Kırdan as being friend. <span style="font-weight: bold; font-size:8px;">1d ago</span></a>
            <a class="list-group-item"> <i class="fa fa-user-plus"></i> Ömer added to Simge Sağın as being friend <span style="font-weight: bold; font-size:8px;">Now</span></a>
            <a class="list-group-item"> <i class="fa fa-thumbs-up"></i> Hakan  liked Bahadır's activity. <span style="font-weight: bold; font-size:8px;">1h ago</span></a>
             <a class="list-group-item"> <i class="fa fa-user-plus"></i> Vidal added you as being friend. <span style="font-weight: bold; font-size:8px;">1d ago</span></a>
            <a class="list-group-item"> <i class="fa fa-user-plus"></i> Burak added to Ömer as being friend <span style="font-weight: bold; font-size:8px;">Now</span></a>
            </div>
        </div>
    </div>

    <div class="col-md-3 well">
        <h5>Who to Add Friend</h5>
        <div class="content">
            <div class="media">
              <div class="media-left">
                <a href="#">
                  <img class="media-object" src="https://cdn0.iconfinder.com/data/icons/iconshock_guys/512/andrew.png" alt="..." width="64" height="64">
                </a>
              </div>
              <div class="media-body">
                        <a href="#">Hakan Uyumaz</a>
                        <br><small>@huyumaz</small><br>

                        <a href="#" class="btn btn-primary btn-xs"><i class="fa fa-user-plus"></i>  Add Friend</a>
                </div>
            </div>
            <div class="media">
                <div class="media-left">
                <a href="#">
                      <img class="media-object" src="https://cdn2.iconfinder.com/data/icons/lil-faces/249/lil-face-15-512.png" alt="..." width="64" height="64">
                    </a>
                  </div>
                  <div class="media-body">
                            <a href="javascript:;">Yunus Yılmaz</a>
                            <br><small>@ynsy</small><br>

                            <a href="#" class="btn btn-primary btn-xs submit" data-sender="okveyay" data-receiver="test"><i class="fa fa-user-plus"></i>  Add Friend</a>
                    </div>



            </div>
            <div class="media">
                <div class="media-left">
                <a href="#">
                      <img class="media-object" src="http://shawncreed.com/wp-content/uploads/2013/08/cropped-shawn_avatar_icon1.png" alt="..." width="64" height="64">
                    </a>
                  </div>
                  <div class="media-body">
                            <a href="#">Ömer Aslan</a>
                            <br><small>@oeaslan</small><br>

                            <a href="#" class="btn btn-primary btn-xs"><i class="fa fa-user-plus"></i>  Add Friend</a>
                    </div>
            </div>
        </div>

    <h5> Ads</h5>
        <div class="well">
                <div class="content">
                    <div class="media">
                        <div class="media-body">
                            <a href="#">
                                <img class="media-object"
                                     src="http://t1.gstatic.com/images?q=tbn:ANd9GcR5VAWqXoh0qeRoEBAO5m3krZPfmR-JXIwBiC9Q7Y8KuOEkykS_"
                                     alt="..." >
                            </a>
                        </div>
                    </div>

                </div>
            </div>
        </div>

</div>

</div>
{% include 'footer.html' %}